﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts
{
<script>
    $(document).ready(function () {
        getEmployees();
        $('#btn-get-employees').click(function () {
            getEmployees();
        });
    });
    function getEmployees() {
        $.ajax({
            type: 'GET',
            url: 'api/employees/' + $('#txt-employee-id').val(),
            dataType: 'json',
            success: function (data) {
                $("#table-employees tbody tr").remove();
                $.each(data, function (index, val) {
                    var row =
                        "<tr>" +
                        "<td>" + val.id + "</td>" +
                        "<td>" + val.name + "</td>" +
                        "<td>" + val.contractTypeName + "</td>" +
                        "<td>" + val.roleId + "</td>" +
                        "<td>" + val.roleName + "</td>" +
                        "<td>" + val.roleDescription + "</td>" +
                        "<td>" + val.hourlySalary + "</td>" +
                        "<td>" + val.monthlySalary + "</td>" +
                        "<td>" + val.annualSalary + "</td>" +
                        "</tr>";
                    $('#table-employees').append(row);
                });
            }
        });
    };
</script>
}

<div class="row">
    <h2>Test Web API</h2>
    <div class="col-md-2">
        <a href="swagger" class="btn btn-default">Swagger</a>
    </div>
</div>
<div class="row">
    <h2>Employee Information</h2>
    <div class="table-responsive">
        <table class="table table-hover" id="table-employees">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contract Type Name</th>
                    <th>Role Id</th>
                    <th>Role Name</th>
                    <th>Role Description</th>
                    <th>Hourly Salary</th>
                    <th>Monthly Salary</th>
                    <th>Annual Salary</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-default" id="btn-get-employees">Get Employees</button>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="txt-employee-id">
    </div>
</div>